{% extends 'base.html.twig' %}

{% block title %}Liste de véhicules{% endblock %}

{% block body %}

<div class="container">
    <h2>Liste des véhicules</h2>

    <ul>
        {% for vehicle in vehicleList %}
        <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ vehicle.picturePath }}" alt="{{ vehicle.model.brand.name }} {{ vehicle.model.name }}" class="card-img-top">
                </div>
                <div class="col-md-8 text-bg-success {# {{ vehicle.isAvailable ? 'text-bg-success' : 'text-bg-danger' }} #}">
                    <div class="card-body">
                        <h5 class="card-title">{{ vehicle.model.brand.name }} {{ vehicle.model.name }}</h5>
                        <p class="card-text">Type : {{ vehicle.type.name }}</p>
                        <p class="card-text">Capacité : {{ vehicle.capacity }} passagers</p>
                        <p class="card-text">Tarif de location : {{ vehicle.price }}€ par jour</p>
                        <a href="/vehicle/detail/{{ vehicle.id }}" class="btn btn-primary">Détail</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>

    <a href="/" class="btn btn-primary">Retour</a>
</div>
{% endblock %}
